<div id="homepage_options">
  <div class = 'titles-box'>
    Welcome to Pickomino!  Sign In Via Social Account
  </div>
  <div class = 'homeoptions outset'>
    <%= render "social_login_buttons" %>
  </div>
</div>

<br />

<div id="homepage_options">
  <div class = 'titles-box'>
    Traditional Sign In
  </div>
  <div class = 'homeoptions outset'>
    <div>
      <%= link_to new_user_session_path do %>
        <div class="btn btn-block btn-primary btn-signin">
          Login
        </div>
      <% end %>

      <%= link_to new_user_registration_path do %>
        <div class="btn btn-block btn-primary btn-signin">
          Register
        </div>
      <% end %>
    </div>
  </div>
</div>
