<div id="player_options">
  <div class = 'titles-box'>
    Welcome to Pickomino!
  </div>
  <div class = 'playeroptions outset'>
    <p><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></p>
  </div>
</div>
