<div id="active_dice">
  <div class = 'titles-box'>
    <span class = 'titles'>Active Dice</span>
  </div>
  <div class = 'activedice inset'>
    <% @active_dice.each do |dice| %>
      <% if dice[:canFreeze] == 1 %>
        <%= link_to (render 'dice', locals: { dice: @dice = dice }), { controller: :games, action: :freeze_dice, dice: {value: dice[:value]} }, method: :post, remote: true, id: 'roll_button', class: 'activeHighlight' %>
      <% else %>
        <div class='inactiveHighlight'><%= render 'dice', locals: { dice: @dice = dice } %></div>
      <% end %>
    <% end %>
  </div>
</div>
