<div id="frozen_dice">
  <div class = 'titles-box'>
  	<span class = 'titles'>Frozen Dice (Sum: <%= @frozen_dice_sum %>)</span>
  </div>
  <div class = 'frozendice inset'>
    <% @frozen_dice.each do |dice| %>
  	  <div class='inactiveHighlight'><%= render 'dice', locals: { dice: @dice = dice } %></div>
    <% end %>
  </div>
</div>
