<div class = 'titles-box'>
	<span class = 'titles'>Frozen Dice (Sum: 0)</span>
</div>
<div class = 'frozendice inset' id="frozen_dice">
	<%= render 'dice', locals: { dice: @dice = @frozen_dice } %>
</div>
