<div id="frozen_dice">
  <div class = 'titles-box'>
  	<span class = 'titles'>Frozen Dice (Sum: <%= @frozen_dice_sum %>)</span>
  </div>
  <div class = 'frozendice inset'>
  	<%= render 'dice', locals: { dice: @dice = @frozen_dice } %>
  </div>
</div>
