<div id="player_options">
  <div class = 'titles-box'>
    Player Options
  </div>
  <div class = 'playeroptions outset'>
    <% if @player_options[:canRoll] %>
      <%= link_to "Roll", { controller: :games, action: :roll }, method: :get, remote: true, id: 'roll_button', class: "btn btn-default buttons inset activeButtonHighlight"%>
    <% else %>
      <div class = "btn btn-default buttons inset disabled">Roll</div>
    <% end %>
  </div>
</div>
