<div id="player_options">
  <div class = 'titles-box'>
    Player Options
  </div>
  <div class = 'playeroptions outset'>
    <% if @player_options[:isGameOver] %>
      <%= link_to "Game Over", { controller: :games, action: :play }, method: :get, id: 'game_over_button', class: "btn btn-success buttons inset"%>
    <% elsif @player_options[:bunk] %>
      <%= link_to "Bunk", { controller: :games, action: :clear_bunk }, method: :post, remote: true, id: 'bunk_button', class: "btn btn-danger buttons inset"%>
    <% elsif @player_options[:canRoll] %>
      <%= link_to "Roll", { controller: :games, action: :roll }, method: :get, remote: true, id: 'roll_button', class: "btn btn-default buttons inset activeButtonHighlight"%>
    <% else %>
      <div class = "btn btn-default buttons inset disabled">Roll</div>
    <% end %>
  </div>
</div>
